<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>	    
		<typeAlias alias="Hospital" type="com.fdoctor.vo.HospitalVO" />
		<typeAlias alias="Member" type="com.fdoctor.vo.MemberVO" />
		<typeAlias alias="Message" type="com.fdoctor.vo.MessageVO" />
		<typeAlias alias="Review" type="com.fdoctor.vo.ReviewVO" />
	</typeAliases>	
	<mappers>
	    <!-- 주의 : 경로 표시 -->
		<mapper resource="com/fdoctor/dao/hospital.xml" />
		<mapper resource="com/fdoctor/dao/message.xml" />
		<mapper resource="com/fdoctor/dao/member.xml" />
		<mapper resource="com/fdoctor/dao/review.xml" />
	</mappers>
</configuration>
